<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/settings.xsd">
    <setting propertyKey="NightModeEnabled" title="@Strings.NightModeTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="ForceSecondUpdate" title="@Strings.ForceSecondUpdateTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="BatterySaverEnabled" title="@Strings.BatterySaverEnabledTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="ShowStepsBig" title="@Strings.ShowStepsBigTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>